:root {
	--site-bg: #F8F8F8;
	--panel-bg: #FFF;
	--inset-bg: #F0F0F0;
	--text-main: #000;
	--text-alt: #BBB;
	--text-inset: #888;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	box-sizing: border-box;

	background: var(--site-bg);
	color: var(--text-main);

	margin: auto;
	padding: 32px;
	max-width: 992px;

	font-family: "Nunito", sans-serif;
}

panel {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background: var(--panel-bg);
	padding: 32px 64px;
	border-radius: 8px;
}

entry {

	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;

	&.draft {
		display: none;
	}

	& info {

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		gap: 32px;
		background: var(--panel-bg);
		padding: 16px 32px;
		border-radius: 8px;

		& seq {
			font-size: 32px;
			font-weight: 800;
			background: var(--inset-bg);
			padding: 8px 24px;
			color: var(--text-inset);
			border-radius: 32px;
			width: 80px;
			text-align: center;
		}

		& title {
			display: block;
			font-size: 24px;
			font-weight: 700;
			width: 100%
		}

		& rating {

			overflow: hidden;
			margin-top: -2px;
			flex-shrink: 0;
			text-shadow: 0 2px 0 black;

			&::before {
				content: '⭐⭐⭐⭐⭐'
			}

			&.s0_5	{ max-width: 11px;  }
			&.s1	{ max-width: 22px;  }
			&.s1_5	{ max-width: 33px;  }
			&.s2	{ max-width: 44px;  }
			&.s2_5	{ max-width: 55px;  }
			&.s3	{ max-width: 66px;  }
			&.s3_5	{ max-width: 77px;  }
			&.s4	{ max-width: 88px;  }
			&.s4_5	{ max-width: 99px;  }
			&.s5	{ max-width: 110px; }
		}

		& date {
			font-size: 12px;
			font-weight: 600;
			color: var(--text-alt);

			&.movie::before {
				content: 'watched ';
			}
		}

		& connection {
			font-size: 9px;
			font-weight: 800;
			&::before {
				padding: 4px;
				border-radius: 4px;
			}
			&.imdb::before {
				content: 'IMDb';
				color: #000;
				background: #FD0;
			}
		}

		& a {
			text-decoration: none;
		}

	}

	& comment {

		background: var(--panel-bg);
		padding: 32px 64px;
		border-radius: 8px;

	}

}

title-divider {
	background: var(--panel-bg);
	width: 100%;
	padding: 16px 0;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2;
	border-radius: 8px;
	color: var(--text-alt);
}

@media (max-width: 600px) {
	panel {
		padding: 32px;
	}

	entry {
		& info {
			flex-direction: column;
			padding: 32px;
			text-align: center;
		}

		& comment {
			padding: 32px;
		}
	}
}
